html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}


:root {
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --accent-color:#4D5AE5;
    --primary-bg-color: #fff;

}
body {
    
    background-color:#fff;
    color: var(--primary-text-color);

    font-family:'Roboto', sans-serif;
    letter-spacing: 0.02em;
    
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

p {
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
 }


 /* .conteiner {
    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
}  */

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  
  }
/* .line {
    display: flex;
    align-items: center;
    color: #2E2F42;
    justify-content: center;
    position: relative;
} */





/* .line-lict {
    position: relative;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    color: #2E2F42;
    justify-content: center;
    transition-property: color, background-color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: #404BBF;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-property: color, background-color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */


/* =================Conteiner========================== */
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 480px){
    .container{
      width: 428px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (min-width:768px){
    .container{
      width: 768px;
    }
  }
  @media screen and (min-width:1200px){
    .container {
      width: 1158px;
  }
  }
  


  
  /* =========================Conteiner======================= */

  /* =========================Header=========================== */

  .header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  
  }

  .mobil-container {
    display: flex;
    align-items: center;
    padding-left:16px;
    padding-right: 25px;
  }


    .mobil-container {
      padding-top: 24px;
        padding-bottom: 24px;
    }
    
    /* .mobil-container {
        justify-content: space-between;

      } */

@media screen and (max-width:767px) {
  .logo {
   padding-right: 150px;
  }
}
 
   .logo {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

text-decoration: none;
color: #4D5AE5;
margin-right: 132px;


   }

.texte {
  color: #2E2F42;
   }

   .texte:hover,
   .texte:focus {
    color: #404BBF;
   }
   .color {


font-weight: 500;
font-size: 16px;
line-height: 1.5px;
text-decoration: none;

letter-spacing: 0.02em;

color: #2E2F42;

   }

   .contact {
    margin-left: auto;
    display: flex;
  }

  .li:not(:last-child) {
    margin-right: 40px;
  }
  .li-contact {

font-size: 12px;
line-height: 1.3;

letter-spacing: 0.04em;


color: #434455;
text-decoration: none;
  }
  .li-contact:hover,
  .li-contact:focus {
    color: #404BBF;
  }

  

   /* ==========sait-nav=========== */
   @media screen and (max-width:767px) {
    .sait-nav {
        display: none;
      }
        .contact {
          display: none;
        }

    }

    /*============ sait-nav ===========*/

    /*//============ Mobile Menu Burger =====*/

    .mobile-menu-burger {
        background-color: transparent;
        border: none;
        fill: var(--title-text-color);
        padding: 0px;
        line-height: 0px;
      }


      /* @media screen and (min-width:768px){
        .mobile-menu-burger{
          display:none;
        }
      } */
.mobil-menu-burger {
    display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: #FFFFFF;
  overflow-y: scroll;
  padding-bottom: 80px;
  transform: translateX(100%);
  opacity:0;
  visibility: hidden;
  pointer-events: none;
  transition: transform var(--main-transition),
  opacity var(--main-transition),
  visibility var(--main-transition);
} 


  .mobile-menu{
    position:fixed;
    padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

width: 100vw;
height: 100vh;
left: 0px;
top: 0px;
transform: translateX(100%);
background-color: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);


  }

  .mobile-menu.is-open {
    transform: translateX(0);

  }
  .mobile-menu-cross {
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000000;
    background: var(--button-filter-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    right: 25px;
    top: 40px;
    transform: translate(50%,-50%);
    padding: 0px;
    line-height: 0px;
  }

  .mobile-site-nav-item .link {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: #2E2F42;
    text-transform: capitalize;
    color:#2E2F42;

    text-decoration: none;
  }
  .mobile-site-nav-item .link:hover,
  .mobile-site-nav-item .link:focus {
    color: #404BBF;
  }
  .mobile-site-nav-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-menu-bottom{
    margin-top: auto;
  }
  .mobile-site-address {
    margin-bottom: 48px;
  }
  
  .mobile-site-adress-item .link,
  .mobile-site-mail .link {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

letter-spacing: 0.02em;

text-decoration: none;

color: #434455;
  }
  
  .mobile-site-mail .link:hover,
  .mobile-site-mail .link:focus{
  color: var(--accent);
  }
  
  
  .mobile-site-tel .link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    
    text-transform: capitalize;

    text-decoration: none;
    
    color: #4D5AE5;
  }
  
  .mobile-site-tel .link:hover,
  .mobile-site-tel .link:focus {
    color: var(--accent);
  }
  
  .mobile-site-tel{
    margin-bottom: 40px;
  }

/* .mobile-site-mail .link {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

letter-spacing: 0.02em;

text-decoration: none;

color: #434455;

} */

.mobile-menu-media-list {
    display: flex;
  }
.mobile-menu-media-item:not(:last-child){
    margin-right: 56px;
  }
.mobile-menu-media-link {
    width: 40px;
    height: 40px;
    background-color:#4D5AE5;
    /* color: var(--team-background-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0px;
  }
.mobile-menu-media-link:hover,
.mobile-menu-media-link:focus {
    background-color: #404bbf;
  }
.mobile-menu-icon {
    fill: currentColor;
  }

/* @media screen and (min-width:768px){
    .mobile-menu{
      display: none;
    }
} */
/*============ Mobile Menu Burger =====//*/

/*//================ Hero ==================== */

    @media screen and (max-width: 767px) {
    .hero-photo {
      background-image: linear-gradient(to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-mobile.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    }
      @media screen and (min-device-pixel-ratio:2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        .hero-photo {
          background-image: linear-gradient(to right,
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)),
            url(../images/hero-desktop@2x.webp);
        }
      }
      /* @media screen and (min-width:768px){
        .hero-photo {
          background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
              url(../images/hero-tablet.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
      }
      @media screen and (min-width:768px) and (min-device-pixel-ratio:2),
      screen and (min-width:768px) and (min-resolution: 192dpi),
      screen and (min-width:768px) and (min-resolution: 2dppx){
        .hero-photo {
          background-image: linear-gradient(to right,
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)),
            url(../images/hero-tablet@2x.webp);
        }
      } */
      /* @media screen and (min-width:1200px){
        .hero-photo {
          background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
              url(../images/hero-desktop.webp);
        }
      }
      @media screen and (min-width: 1200px) and (min-device-pixel-ratio:2),
      screen and (min-width: 1200px) and (min-resolution: 192dpi),
      screen and (min-width: 1200px) and (min-resolution: 2dppx){
        .hero-photo {
          background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
              url(../images/hero-tablet@2x.webp);
        }
      } */

 .hero {

    padding-top: 192px; 
    padding-bottom: 192px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 
/* .hero-photo {
    padding-top: 120px;
} */
@media screen and (max-width: 767px){
    .hero-photo {
      padding-bottom: 112px;
    }
  }
/* @media screen and (min-width:768px){
    .hero-photo {
        padding-bottom: 108px;
      }
  } */
/* @media screen and (min-width: 1200px){
    .hero-photo {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-left:auto;
  margin-right: auto;
    }
  }
.hero-title {
    margin-left: auto;
    margin-right: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

     color: #FFFFFF;
} */
@media screen and (max-width:767px){
    .hero-title{
      margin-bottom: 72px;
      max-width: 319px;
  font-size: 36px;
    line-height: 1.11;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
    }
  }
  /* @media screen and (min-width: 768px) {
    .hero-title {
      margin-bottom: 40px;
      max-width: 500px;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: var(--primary-letter-spacing);
    }
  } */
  /* @media screen and (min-width:1200px){
    .hero-title{
      margin-bottom: 48px;
    }
  } */

  /*//================Buton-Hero================= */

  .button-hero {
    border-radius: 4px;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 16px;
padding-top: 16px;
margin-top: 48px;

color: #ffffff;
background: #4D5AE5;
font-family: inherit;
font-weight: 600;
border: none;

cursor: pointer;

align-items: center;
text-align: center;
transition-property: background-color; 
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}
.button-hero:hover,
.button-hero:focus {
background-color: #404BBF;

}
/*=====================Buton-Hero==================//*/

/*====================== Hero ====================//*/

/*//=====================Modal Window================*/

.backdrop {
position: fixed;
z-index: 100;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(46, 47, 66, 0.4);

overflow-y: scroll;
    
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 408px;
height: 576px;
background-color: #fcfcfc;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;

} 

/* @media screen and (min-width:768px) {
    .modal{
      padding-left: 24px;
        padding-right: 24px;
        width:408px;
    }
    } */


    .modal-close-btn-icon {

display: block;
position: absolute;
top: 24px;
right: 24px;
display: flex;
justify-content: center;
align-items: center;
     
cursor: pointer;
       
padding: 0; 
width: 24px;
height: 24px;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
     
transition-property:background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
color: #000000; 
     
     }
     
     
.modal-close-btn-icon:hover,
.modal-close-btn-icon:focus  {
         fill: #E7E9FC;
          background-color: #2E3CD7;
     
         
      
} 
     
.icon-close {
display: inline-block;
width: 8px;
height: 8px;
color: #000000;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     
     
}
.icon-close:hover {
     
        color: #E7E9FC;
     
     }
/*************Modal Window text**********/

.window {
    position: absolute;
width: 408px;
height: 584px;
left: 516px;
top: 80px;

background: #FCFCFC;
border-radius: 4px;
}

.form-title {
     margin-top: 72px;


font-weight: 500;
font-size: 16px;
line-height: 24px;

text-align: center;
letter-spacing: 0.02em;

color: #2E2F42;
}

 .frame {
  position: relative;

 }


.men {
 position: absolute;


 width: 18px;
 height: 18px;
 fill: #2E2F42;

 position: absolute;
 top: 50%;
 left: 16px;
 transform: translateY(-50%);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    


}

.men:hover,
.men:focus {

    fill:#4D5AE5;
}

.phone {


    width: 18px;
    height: 18px;
    fill: #2E2F42;

    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
   
  

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

.phone:hover,
.phone:focus {
    fill:#4D5AE5;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color:#8E8F99;
  }
  
  .modal-input {
    position: relative;
    display: block;
    margin-bottom: 8px;
  }



.envelope {
    width: 18px;
    height: 18px;
    fill: #2E2F42;

    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.envelope:hover,
.envelope:focus {
    fill:#4D5AE5;
}


.form {
    Width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 104px;

    display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding: 0;
 gap: 8px;

}

.modal-form {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 336px;
    margin-left: 20px;
  }


.form-input {
     display: block;
    position: relative;
    width: 360px;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 4px; 

    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;

transition-property: fill, border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 


}

.form-input:focus  {
    outline: none;
    border-color: #404BBF

}

.form-input:hover,
.form-input:focus {

    border-color: #404BBF;
    fill: #404BBF;

}
.form-input:focus + .men {
    fill: #404BBF;
}


.form-input:focus + .phone {
    fill: #404BBF;
}


.form-input:focus + .envelope {
    fill: #404BBF;
}
.form-input:hover + .men {
    border-color: #404BBF;
    fill: #404BBF;
}
.form-input:hover + .phone {
    border-color: #404BBF;
    fill: #404BBF;
}
.form-input:hover + .envelope {
    border-color: #404BBF;
    fill: #404BBF;
}

 
/**************comment*************/

.comment {
    font-weight: 400;
font-size: 12px;
line-height: 14px;


letter-spacing: 0.01em;

color: #8E8F99;

}

.textarea {
    display: block;
    resize: none;
    width: 360px;
    height: 120px;
    left: 0px;
    top: 216px;

    margin-top: 4px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
}

.textarea:hover {
    border-color: #4D5AE5;
}
.textarea:focus {
    outline: none;
    border-color: #4D5AE5;
}



.policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    letter-spacing: 0.04em;
  color: #4D5AE5;
}

.policy:hover {
    color: #404BBF;
}



.button-window {
    display: block;
justify-items: center;
width: 169px;
height: 56px;
left: 119px;
top: 504px;
 margin-bottom: 24px;

position: absolute;

background: #4D5AE5;
border: #F4F4FD;
border-radius: 4px;

transition-property: fill, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.button-window:hover,
.button-window:focus {
    background-color: #404BBF;
}


.button-textres {
font-size: 16px;
line-height: 24px;


letter-spacing: 0.04em;


color: #FFFFFF;

}

.comment-text {
    font-weight: 400;
 font-size: 12px;
 line-height: 16px;

 letter-spacing: 0.04em;
 padding-left: 16px;
 padding-top: 8px;

 color: rgba(117, 117, 117, 0.5);

}
 /*==================Chekbox================*/
 /* .chek-imput {

    position: absolute;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
} */


  .checkbox-label {
    display: flex;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
    margin-top: 24px;
    color: #757575;
    
  }
  
  .checkbox-icon {
    width: 16px;
    height: 16px;
    padding: 4px 3px;
    border-radius: 2px;
    background-color: #404BBF;
    opacity: 0;
 

  }
  
  .input-checkbox:checked + .checkbox-label .checkbox-icon {
    opacity: 1;
    border: none;
    fill: #FFFFFF;
    
  }
  
  .input-checkbox:focus + .checkbox-label .checkbox-icon,
  .input-checkbox:hover + .checkbox-label .checkbox-icon {

    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box; 
    background-color: #404BBF; 

    
  }

  
  .checkbox-label-title {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 9px;

     border: 1.10px solid #2e2f42;
  }
  
  .checkbox-privacy {
    justify-content: center;
    align-items: center;
    text-decoration: solid;
  }
  
  .privacy-policy {
    font-size: inherit;
    color: #4D5AE5;
    transition: color;
    text-decoration: underline;
    transition-duration: #404BBF;
  }
  
  .privacy-policy:hover,
  .privacy-policy:focus,
  .privacy-policy:active {
    color: #404BBF;
  }
  

/*//=====================Company Work================*/

 /* @media screen and (max-width:1199px){
    .work-icon {
      display:none;
    
        width: 264px;
        height: 112px;
    
        background-color: #F4F4FD;
        border-radius: 4px;
      margin-bottom: 8px;
 
      justify-content: center;
        align-items: center;
        transition-property: border; 
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
    }
 }  */

  .section{
    padding-top: 96px;
    padding-bottom: 96px;
  }
  /* @media screen and (max-width: 767px){
  .for:not(:last-child) {
    margin-right: 24px;
  }
  } */
  


   @media screen and (max-width:768px) {
    .line-w0rk {
      display: flex;
      flex-wrap: wrap;
      row-gap: 72px;
      column-gap: 24px;
      padding: 0;
    }

@media screen and (max-width:768px) {
  .work-icon {
    display: none;

  }
}

  } 
  /* @media screen and (min-width:1200px){
    .top {
        padding-top: 120px;
        padding-bottom: 120px;
    
      }

    } */



.tof {
    background-color: #F4F4FD;
    padding-bottom: 120px;

}
/* .line-w0rk {

    align-items: center;
    color: #2E2F42;
    justify-content: center;
    position: relative;
} */
.conteiner-company-work {
    width: 100%;

padding-left: 16px;
padding-right: 16px;
padding-top: 96px;
padding-bottom: 24px;

}

/* .work-icon {
    
    width: 264px;
    height: 112px;

    background-color: #F4F4FD;
    border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
    align-items: center;
    transition-property: border; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
} */


/* .worksss-icon {
    
    display: block;

    fill: #2E2F42;;
    background-color: #F4F4FD;
    border-radius: 4px;
      
    
} */

.titlestud {
    margin-bottom: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;

    
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
    
    color: #2E2F42;

 }

 .paragraf {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
    letter-spacing: 0.02em;
    
    
    color: #434455;
 }

 .botom {
    margin-bottom: 72px;
  }

 @media screen and (max-width:767px){
    .titlestud {
      text-align: center;
    }
  }
  /* @media screen and (min-width: 768px){
    .line-w0rk {
      text-align: start;
    }
    
    .widch {
      flex-basis: calc((100% - 24px)/2);
      margin: 0;
   }
  } */
 
  /* @media screen and (min-width: 1200px) {
    .line-w0rk {
      display: flex;
      flex-wrap: nowrap ;
      gap: 24px;

    } 
    .widch {
      flex-basis: calc((100% - 72px)/4);
      margin: 0;
   }
   .work-icon {
    
    width: 264px;
    height: 112px;

    background-color: #F4F4FD;
    border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
    align-items: center;
    transition-property: border; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.worksss-icon {
    
    display: block;

    fill: #2E2F42;;
    background-color: #F4F4FD;
    border-radius: 4px;
      
    
}
.titlestud {
  font-size: 20px;
  text-align: left;
}

  } */
  /*//===============Servis Work===============*/

  /* @media screen  and (max-width:1199px){
    .service{
      display:none;
    }
  }  */
/* @media screen and (max-width: 767px) {
  .service {
    display: none;
  }

} */

  .service {
    padding-top: 0;
    padding-bottom: 120px;
  }
  .service-title{
    text-align: center;
    /* margin-bottom: 72px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
 
    
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
    
    color: #2E2F42;
  }
  .container-service-list{
    display: flex;
    gap: 24px;
  }

   /*=================Servis Work===============//*/


/*//================== Our Team ==================*/



.conteiner-team {

padding-bottom: 120px;
padding-top: 96px;

background: #F4F4FD;
}
@media screen and (max-width:467px) {

}

@media screen and (max-width:767px) {
    .conteiner-team{
  padding-bottom: 120px;
    }


  }
  /* @media screen and (min-width: 768px){
  .conteiner-team {
    padding-bottom: 120px;
 
  }
.line {
        display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 64px;
}

  } */

  @media screen and (max-width:1200px){
    .conteiner-team {
      padding-bottom: 120px;
    }
 
  }

  .our-team {

    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1;

margin-bottom: 72px;


text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;


color: #2E2F42;
  }




/* .our-team {

    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

    font-weight: 600;
font-size: 36px;
line-height: 1.11;

text-align: center;
text-transform: capitalize;

color: #2E2F42;
} */



/* .tof {
    background-color: #F4F4FD;
    padding-bottom: 120px;

} */
.our {
    margin-left: auto;
 margin-right: auto; 
 
}
/* .for {
    margin-right: 24px;

} */
.fone {


    justify-items: center;

    background-color: #ffffff;
    
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
 }


 @media screen and (max-width: 767px){
    .listej {
     margin-top: 8px;
  
      }
    }
    /* @media screen and (min-width: 768px) and (max-width:1199px){
        .listej {
            display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
          
      } */

      .listej {
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    
@media screen and (max-width:1199px){
        .listej {
            justify-content: center;
          

          }
        }

@media screen and (max-width:767px){
 .fone:not(:last-child) {
    margin-bottom: 72px;
         }

 .fohe {
    flex-basis: calc((100% - 24px)/2);
          margin: 0;
       }
    }

    /* @media screen  and (min-width:1200px){
.box-list {


   padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 14px;
    padding-right: 14px;
}
.line {
  flex-wrap: nowrap;
}

} */


 .box-list {

  padding-top: 32px;
   padding-bottom: 32px;
   padding-left: 16px;
   padding-right: 16px;
} 



.team {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill:#F4F4FD;
     background: #4D5AE5;
     transition-property:  background-color; 
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

 .team-list {
    position: absolute;
    align-items: center;
    fill: #F4F4FD
     
}


.for:not(:last-child) {
    margin-right: 24px;

}

.team:hover,
.team:focus {
   background-color: #404BBF;
}

.title-name {

    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

text-align: center;
letter-spacing: 0.02em;


color: #2E2F42;
}

.text-job {
margin-top: 8px;

    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

text-align: center;
letter-spacing: 0.02em;


color: #434455;
}

 

/* 

.team:hover,
.team:focus {
   background-color: #404BBF;
}

padding: 16px;
padding-bottom: 36px;
padding-top: 12px;
} */





/*===================== Our Team==================// */


/*//======================CUSTOMERS=====================*/
.customers-list {
  width: 190px;
  height: 88px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}

.customers-link {
  border: 1px solid #8e8f99;
  height: 100%;
  width: 100%;
  fill: #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  transition: color var(--transition-duration-function),
    border var(--transition-duration-function),
    fill var(--transition-duration-function);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  fill: currentColor;
}
/* @media screen and (min-width: 768px) {
  .customers-list {
   flex-basis: calc((100% - 48px)/3);
  }
} */


/* @media screen and (max-width: 767px) {
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
    margin: auto;
  }
.customers-text {
  padding-bottom: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  
    
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
    
    color: #2E2F42;

  }
  .our-customers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;

    margin: auto;
  }

}

/* @media screen and (min-width: 768px) {
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
    margin: auto;
  }
  .our-customers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;

    margin: auto;
  }
  .customers-list {
    width: 168px;
    height: 88px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 4px;
  }
} */

/* @media screen and (min-width: 1200px) {
  .our-customers {
    display: flex;
    gap: 24px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    width: 168px;
    height: 88px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 4px;
  }

  .customers-link {
    border: 1px solid #8e8f99;
    height: 100%;
    width: 100%;
    fill: #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    transition-property: border, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-link:hover,
  .customers-link:focus {
    border: 1px solid #2E3CD7;
    color: #2E3CD7;
  }

}  */



/*======================CUSTOMERS=====================//*/

/*//=========================Footer============================*/

.footer {
  color: #000;
  background-color: #2E2F42;
  font-family: inherit;
}
.logo-footer {
  color: #f4f4fd;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  text-decoration: none;
}



.summary {
  width: 264px;
  margin-top: 16px;

  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

letter-spacing: 0.02em;


color: #E7E9FC;
}
/* .footer-logo {
  padding: 0;
  margin: 0;
} */

.social-media-footer-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#ffffff;
}

.footer-social-media {
  display: flex;
  margin-top: 16px;
}
.footer-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill:  #f4f4fd;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-item:not(:last-child) {
  margin-right: 16px;
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: #31d0aa;
  fill: #f4f4fd;
}

.footer-input-email {
  padding-left: 16px;
  min-width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.footer-input-fill {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-input-description {
  margin-bottom: 16px;
  color: #ffffff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-input-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-subscribe-button {
  position: relative;
  padding: 8px 64px 8px 24px;
  color: var(--background-color);
  background: #4d5ae5;
  border-radius: 4px;
  border: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-subscribe-button-icon {
  position: absolute;
  top: 10px;
  right: 24px;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus,
.footer-subscribe-button:active {
  background-color: #404bbf;;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
    margin: auto;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .experiment {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-input-email {
    width: 100%;
    margin: auto;
  }
  .footer-logo,
  .social-media-footer-title,
  .footer-input-description {
    text-align: center;
  }

}
 /* @media screen and (min-width: 768px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  .experiment {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: auto;
  } 

} */
/* @media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .container-footer {
    margin-right: 120px;
  }
  .footer-info {
    display: flex;
  }

  .footer-subscribe {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    gap: 24px;
  }
  .footer-subscribe {
    display: flex;
    gap: 24px;
  }
} */

/*===========================Footer=============================//*/
@media screen and (max-width:479px) {
.line-our  {
 
padding-left: 82px;

}
}

@media screen and (min-width:768px) {

  .mobile-menu-burger{
    display:none;

    
  }
  .mobile-menu{
    display: none;
  }
  .hero-photo {
    background-image: linear-gradient(to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-tablet.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
}
@media screen and (min-width:768px) and (min-device-pixel-ratio:2),
screen and (min-width:768px) and (min-resolution: 192dpi),
screen and (min-width:768px) and (min-resolution: 2dppx){
  .hero-photo {
    background-image: linear-gradient(to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-tablet@2x.webp);
  }

  .hero-photo {
    padding-bottom: 108px;
  }
  .hero-title {
    margin-bottom: 40px;
    margin-left: 137px;
    max-width: 500px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    
    text-align: center;
    letter-spacing: 0.02em;


    text-decoration: none;
    
    color: #FFFFFF;
  }
  .modal{
    padding-left: 24px;
      padding-right: 24px;
      width:408px;
  }
  .work-icon {
    display:none;

      
  }
  .line-w0rk {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    padding: 0;
  }
  .line-w0rk {
    text-align: start;
  }
  
  .widch {
    flex-basis: calc((100% - 24px)/2);
    margin: 0;
 }
 .line {
    flex-basis: calc((100% - 24px)/2);
 }
  
 
.service{
    display:none;
  }

.conteiner-team {
  padding-bottom: 120px;

}
.line {
      display: flex;
    justify-content: center;

    column-gap: 24px;
    row-gap: 64px;

}
.libe-our {
  flex-basis: calc((100% - 24px)/2);
}

.line-our  {
display: flex;
 flex-wrap: wrap;
  gap: 24px;
padding-left: 108px;

}

.line-contact {
    flex-basis: calc((100% - 24px)/2);

    margin-left: 118px;
    justify-content: center;

    column-gap: 24px;
    row-gap: 64px;
}
/* .line:not(:last-child) */



.listej {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.customers-list {
flex-basis: calc((100% - 48px)/3);
}
.customers {
padding-top: 96px;
padding-bottom: 96px;
margin: auto;
}
.customers-text {
  margin-bottom: 72px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;


color: #2E2F42;

}
.our-customers {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 72px;

margin: auto;
}
.customers-list {
width: 168px;
height: 88px;
cursor: pointer;
margin: 0;
padding: 0;
border-radius: 4px;
}
.footer {
padding-top: 96px;
padding-bottom: 96px;
}
.footer-container {
display: flex;
flex-wrap: wrap;
row-gap: 72px;
column-gap: 24px;
align-items: center;
margin-right: auto;
margin-left: auto;
}
.experiment {
display: flex;
align-items: center;
gap: 24px;
margin: auto;
}

}



/*====================== DESTOP ==============================*/



@media screen and (min-width:1200px){

  .hero-photo {
    background-image: linear-gradient(to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-desktop.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio:2),
screen and (min-width: 1200px) and (min-resolution: 192dpi),
screen and (min-width: 1200px) and (min-resolution: 2dppx){
  .hero-photo {
    background-image: linear-gradient(to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-tablet@2x.webp);
  }
  .hero-photo {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin-left:auto;
    margin-right: auto;
      }
    
  .hero-title {
      margin-left: auto;
      margin-right: auto;
  
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
  
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
  
       color: #FFFFFF;
  }
  .hero-title{
    margin-bottom: 48px;
  }

  .top {
    padding-top: 120px;
    padding-bottom: 120px;

  }
  .sait-nav .link:hover,
.sait-nav .link:focus{
 color:#4D5AE5;

}
  
  .line-lict {
    position: relative;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    color: #2E2F42;
    justify-content: center;
    transition-property: color, background-color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: #404BBF;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-property: color, background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.line-contact {
  display: flex;

}

.work-icon {
  
  width: 264px;
  height: 112px;

  background-color: #F4F4FD;
  border-radius: 4px;
margin-bottom: 8px;
display: flex;
justify-content: center;
  align-items: center;
  transition-property: border; 
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.worksss-icon {
  
  display: block;

  fill: #2E2F42;;
  background-color: #F4F4FD;
  border-radius: 4px;
    
  
}

  .line-w0rk {
    display: flex;
    flex-wrap: nowrap ;
    gap: 24px;

  } 
  .widch {
    flex-basis: calc((100% - 72px)/4);
    margin: 0;
 }

.titlestud {
font-size: 20px;
text-align: left;
}
.box-list {


padding-top: 32px;
 padding-bottom: 32px;
 padding-left: 14px;
 padding-right: 14px;
}
.listej {
  margin-top: 8px;
}

.line {
flex-wrap: nowrap;
}
.our-customers {
display: flex;
gap: 24px;
}

.customers {
padding-top: 120px;
padding-bottom: 120px;
text-align: center;

}
.customers-list {
width: 168px;
height: 88px;
cursor: pointer;
margin: 0;
padding: 0;
border-radius: 4px;

flex-wrap: nowrap;
flex-basis: calc((100% - 120px)/6);
}
.customers-text {
  font-size: 36px;
line-height: 1.1;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

margin-bottom: 72px;



color: #2E2F42;
}

.customers-link {
border: 1px solid #8e8f99;
height: 100%;
width: 100%;
fill: #8e8f99;
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;

transition-property: border, color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
border: 1px solid #2E3CD7;
color: #2E3CD7;
}
.footer {
padding-top: 100px;
padding-bottom: 100px;
}
.footer-container {
display: flex;
align-items: baseline;
}
.container-footer {
margin-right: 120px;
}
.footer-info {
display: flex;
}

.footer-subscribe {
display: flex;
align-items: flex-end;
margin-left: auto;
gap: 24px;
}
.footer-subscribe {
display: flex;
gap: 24px;
}
}
